
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #f1f1f1;
}


header {
    background-color: #222;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 45px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin-right: 15px; /* Espacio entre la imagen y el texto */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .logo {
    font-size: 24px;
    color: #f1f1f1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1e90ff;
}


#hero {
    height: 100vh;
    background: url('anlizando-datos-empresariales-1080x675.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f1f1f1;
    padding-top: 60px;
}



.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-content .btn {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #0056b3;
}


main {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}


#services {
    text-align: center;
    margin-bottom: 40px;
}

.service-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.service i {
    font-size: 48px;
    color: #1e90ff;
    margin-bottom: 10px;
}

.service h3 {
    margin: 10px 0;
}

.service p {
    font-size: 16px;
}

/* Estilos específicos para la tabla en la página de Servicios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

table tbody tr:hover {
    background-color: #325087;
}

#about {
    margin: 40px 0;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 2;
    min-width: 300px;
    text-align: justify;
}


#contact {
    margin: 40px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #f1f1f1;
}

form .btn {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form .btn:hover {
    background-color: #0056b3;
}


footer {
    background-color: #333;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    color: #f1f1f1;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #1e90ff;
}
